fastapi
uvicorn[standard]
pydantic
python-multipart
openai
google-genai
pydub
python-dotenv
requests
beautifulsoup4
cohere
pymongo
annotated-types
anyio
beautifulsoup4
boto3
botocore
cachetools
certifi
charset-normalizer
click
cohere
distro
dnspython
exceptiongroup
fastapi
fastavro
filelock
fsspec
google-auth
google-genai
h11
hf-xet
httpcore
httptools
httpx
httpx-sse
huggingface-hub
idna
jiter
jmespath
openai
packaging
parameterized
pyasn1
pyasn1-modules
pydantic
pydantic-core
pymongo
python-dateutil
python-dotenv
python-multipart
PyYAML
requests
rsa
s3transfer
six
sniffio
soupsieve
starlette
tenacity
tokenizers
tqdm
types-requests
types-urllib3
typing-extensions
urllib3
uvicorn
watchfiles
websockets
pymongo